@model List<MedicalSuppliesWeb.ViewModels.Supplier.SupplierProfileVm>


<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/shared-style.css" />

</head>
<body>
    <div class="row">
        <partial name="_LeftColumn" />
        <div class="col-md-8 column">

            <partial name="_SearchBox" />

            @*DYNAMIC CONTENT BEGINS*@

            <div style="display: flex; padding-left: 350px; padding-top: 40px; padding-bottom: 20px;">
                <h3 style="text-align: center; margin: 0; text-decoration: underline;">All Suppliers</h3>
                <!-- Add link to create a new supplier if needed -->
            </div>

            @if (Model.Count > 0)
            {
                <div class="card-deck">
                    @foreach (var supplier in Model)
                    {
                        <div class="card mb-4">
                            <div class="card-header">
                                Supplier ID: @supplier.SupplierId
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@supplier.SupplierName</h5>
                                <p class="card-text"><strong>Contact:</strong> @supplier.ContactName</p>
                                <p class="card-text"><strong>Email:</strong> @supplier.ContactEmail</p>
                                @if (supplier.SupplierAddresses.Count > 0)
                                {
                                    <strong>Address:</strong>
                                    <ul>
                                        @foreach (var address in supplier.SupplierAddresses)
                                        {
                                            <li>@address.Address, @address.City, @address.Zip, @address.State.State, @address.Country.Country</li>
                                        }
                                    </ul>
                                }
                                @if (supplier.SupplierNumbers.Count > 0)
                                {
                                    <strong>Phone:</strong>
                                    <ul>
                                        @foreach (var number in supplier.SupplierNumbers)
                                        {
                                            <li>@number.PhoneNumber</li>
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p>No suppliers found.</p>
            }


            @*/END/*@


        </div>

        <partial name="_RightColumn" />

    </div>

    <script src="~/js/DateTime.js"></script>
</body>
</html>
