@model List<MedicalSuppliesWeb.ViewModels.Facility.FacilityVm>



<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/shared-style.css" />

</head>

<body>
    <div class="row">
        <partial name="_LeftColumn" />


        <div class="col-md-8 column">

            <partial name="_SearchBox" />

            @*//following div (row) is the dynamic content of this page, it changes on each other page view redirected from here.
            everything else remain the same*@

            <div style="display: flex; justify-content: space-between; align-items: center; padding-left: 370px; padding-top: 40px; padding-bottom: 20px;">
                <h3 style="text-align: center; margin: 0; text-decoration: underline;">Facilities</h3>
                <div>
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="/Facilities/Create" class="btn btn-sm btn-outline-dark">Create</a>
                    }
                    else
                    {
                        <a href="/Home/AccessDenied" class="btn btn-sm btn-outline-dark">Create</a>
                    }
                </div>
            </div>

            <div class="card-deck">
                @foreach (var facility in Model)
                {
                    <div class="card mb-4">
                        <div class="card-header">
                            Facility ID: @facility.FacilityId
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@facility.FacilityName</h5>
                            <p class="card-text"><strong>Contact:</strong> @facility.ContactName</p>
                            <p class="card-text"><strong>Email:</strong> @facility.ContactEmail</p>
                            <strong>Address:</strong>
                            <ul>
                                @foreach (var address in facility.FacilityAddresses)
                                {
                                    <li>@address.Address, @address.City, @address.Zip, @address.State.State, @address.Country.Country</li>
                                }
                            </ul>
                            <strong>Phone:</strong>
                            <ul>
                                @foreach (var number in facility.FacilityNumbers)
                                {
                                    <li>@number.PhoneNumber</li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>


            @*/END/*@

        </div>

        <partial name="_RightColumn" />
    </div>

    <script src="~/js/DateTime.js"></script>

</body>
</html>
