@model List<MedicalSuppliesWeb.ViewModels.ManageUserRolesViewModel>

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/userRolesManage-style.css" />

</head>
<body>
    <div class="row">

        <partial name="_LeftColumn" />

        <div class="col-md-8 column">

            <partial name="_SearchBox" />


            @*/DYNAMIC CONTENT BEGIN*@

            <div class="center-container">
                <div class="card">
                    <div class="card-header">
                        <h2>Manage Roles</h2>
                        User : @ViewBag.UserName.
                    </div>
                    <div class="card-body">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <div class="form-check">
                                <input type="hidden" asp-for="@Model[i].RoleId" />
                                <input type="hidden" asp-for="@Model[i].RoleName" />
                                <input asp-for="@Model[i].Selected" class="form-check-input" />
                                <label class="form-check-label" asp-for="@Model[i].Selected">
                                    @Model[i].RoleName
                                </label>
                            </div>
                        }
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                    <div class="card-footer">
                        <span style="padding-right:10px"><input type="submit" value="Update" class="btn btn-sm btn-outline-dark" /></span>
                        <span><a asp-action="Index" asp-controller = "Userroles" asp-route-id="@ViewBag.userId" class="btn btn-sm btn-outline-dark">Cancel</a></span>
                    </div>
                </div>
            </div>


            @*/END/*@

        </div>

        <partial name="_RightColumn" />

    </div>

    <script src="~/js/DateTime.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>