@model List<MedicalSuppliesWeb.ViewModels.ManageUserRolesViewModel>

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet" />

<style>
    body {
        background-color: #E1F5FE;
        font-family: 'Roboto', sans-serif;
    }

    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        height: calc(100vh - 150px);
        margin-bottom: 50px;
    }

    .card {
        background-color: #D1EAFD;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        width: 100%;
        max-width: 400px;
    }

    .card-header {
        margin-bottom: 20px;
        color: #333333;
        font-weight: 500;
    }

    .card-body {
        margin-bottom: 20px;
    }

    .form-check {
        display: flex;
        align-items: center;
        margin: 5px;
    }

    .form-check-label {
        margin-left: 5px;
    }

    .text-danger {
        color: #FF0000;
    }

    .card-footer {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .btn-primary {
        background-color: #007BFF;
        border-color: #007BFF;
        margin: 5px;
    }

        .btn-primary:hover {
            background-color: #0069D9;
            border-color: #0062CC;
        }

        .btn-primary:focus,
        .btn-primary.focus {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
        }

        .btn-primary.disabled,
        .btn-primary:disabled {
            background-color: #007BFF;
            border-color: #007BFF;
        }

        .btn-primary:not(:disabled):not(.disabled).active,
        .btn-primary:not(:disabled):not(.disabled):active,
        .show > .btn-primary.dropdown-toggle {
            background-color: #0062CC;
            border-color: #005CBF;
        }

            .btn-primary:not(:disabled):not(.disabled).active:focus,
            .btn-primary:not(:disabled):not(.disabled):active:focus,
            .show > .btn-primary.dropdown-toggle:focus {
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
            }
</style>

<div class="center-container">
    <div class="card">
        <div class="card-header">
            <h2>Manage Roles</h2>
            User : @ViewBag.UserName.
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check">
                    <input type="hidden" asp-for="@Model[i].RoleId" />
                    <input type="hidden" asp-for="@Model[i].RoleName" />
                    <input asp-for="@Model[i].Selected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].Selected">
                        @Model[i].RoleName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" />
            <a asp-action="EditUser" asp-route-id="@ViewBag.userId" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</div>
