@using MedicalSuppliesWeb.Helpers
@model MedicalSuppliesWeb.ViewModels.Dashboard.DashboardVm



<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/shared-style.css" />

</head>
<body>
    <div class="row">
        <partial name="_LeftColumn" />
        <div class="col-md-8 column">
            <partial name="_SearchBox" />

            @*/DYNAMIC CONTENT BEGINS*@

            <div class="row">
                <div class="col-md-6">
                    <div class="panel">

                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <span style="flex-grow: 1; text-align: center;"><h6>CUSTOMER INVOICES</h6></span>

                            <a asp-action="CreateInvoice" asp-controller="Customer" style="text-decoration: none;"><p>Create</p></a>
                        </div>



                        <!-- Customer Invoices Panel Content -->

                        <table class="table table-bordered border-primary text-center">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Due Date</th>
                                    <th>Amount</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1234</td>
                                    <td>01/01/2023</td>
                                    <td>$100.00</td>
                                    <td style="background-color: @(StatusHelper.GetStatusColor("approved"))">Approved</td>

                                </tr>
                                <tr>
                                    <td>2345</td>
                                    <td>02/01/2023</td>
                                    <td>$200.00</td>
                                    <td style="background-color: @(StatusHelper.GetStatusColor("rejected"))">Rejected</td>

                                </tr>
                                <tr>
                                    <td>4567</td>
                                    <td>03/01/2023</td>
                                    <td>$150.00</td>
                                    <td style="background-color: @(StatusHelper.GetStatusColor("under review"))">Under Review</td>

                                </tr>
                                <tr>
                                    <td>5678</td>
                                    <td>04/01/2023</td>
                                    <td>$300.00</td>
                                    <td style="background-color: @(StatusHelper.GetStatusColor("approved"))">Approved</td>
                                    @*<td><a href="#" class="btn-create">Create New</a></td>*@
                                </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <span style="flex-grow: 1; text-align: center;"><h6>CUSTOMER ORDERS</h6></span>
                            <a asp-action="CreateOrder" asp-controller="Customer" style="text-decoration: none;"><p>Create</p></a>
                        </div>
                        <!-- Customer Orders Panel Content -->


                        <table class="table table-bordered border-primary text-center">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Due Date</th>
                                    <th>Amount</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1234</td>
                                    <td>01/01/2023</td>
                                    <td>$100.00</td>
                                    <td style="background-color: @(StatusHelper.GetStatusColor("under review"))">Under Review</td>

                                </tr>
                                <tr>
                                    <td>2345</td>
                                    <td>02/01/2023</td>
                                    <td>$200.00</td>
                                    <td style="background-color: @(StatusHelper.GetStatusColor("rejected"))">Rejected</td>

                                </tr>
                                <tr>
                                    <td>4567</td>
                                    <td>03/01/2023</td>
                                    <td>$150.00</td>
                                    <td style="background-color: @(StatusHelper.GetStatusColor("approved"))">Approved</td>

                                </tr>
                                <tr>
                                    <td>5678</td>
                                    <td>04/01/2023</td>
                                    <td>$300.00</td>
                                    <td style="background-color: @(StatusHelper.GetStatusColor("under review"))">Under Review</td>
                                    @*<td><a href="#" class="btn-create">Create New</a></td>*@
                                </tr>
                            </tbody>

                        </table>


                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <span style="flex-grow: 1; text-align: center;"><h6>SUPPLIER INVOICES</h6></span>
                            <a asp-action="CreateInvoice" asp-controller="Supplier" style="text-decoration: none;"><p>Create</p></a>
                        </div>
                        <!-- Supplier Invoices Panel Content -->



                        <table class="table table-bordered border-primary text-center">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Due Date</th>
                                    <th>Amount</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1234</td>
                                    <td>01/01/2023</td>
                                    <td>$100.00</td>
                                    <td style="background-color: @(StatusHelper.GetStatusColor("approved"))">Approved</td>

                                </tr>
                                <tr>
                                    <td>2345</td>
                                    <td>02/01/2023</td>
                                    <td>$200.00</td>
                                    <td style="background-color: @(StatusHelper.GetStatusColor("under review"))">Under Review</td>

                                </tr>
                                <tr>
                                    <td>4567</td>
                                    <td>03/01/2023</td>
                                    <td>$150.00</td>
                                    <td style="background-color: @(StatusHelper.GetStatusColor("approved"))">Approved</td>

                                </tr>
                                <tr>
                                    <td>5678</td>
                                    <td>04/01/2023</td>
                                    <td>$300.00</td>
                                    <td style="background-color: @(StatusHelper.GetStatusColor("approved"))">Approved</td>
                                    @*<td><a href="#" class="btn-create">Create New</a></td>*@
                                </tr>
                            </tbody>

                        </table>


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <span style="flex-grow: 1; text-align: center;"><h6>SUPPLIER ORDERS</h6></span>

                            <a asp-action="CreateOrder" asp-controller="Supplier" style="text-decoration: none;"><p>Create</p></a>
                        </div>
                        <!-- Supplier Orders Panel Content -->



                        <table class="table table-bordered border-primary text-center">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Due Date</th>
                                    <th>Amount</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1234</td>
                                    <td>01/01/2023</td>
                                    <td>$100.00</td>
                                    <td style="background-color: @(StatusHelper.GetStatusColor("under review"))">under review</td>
                                    @*<h6 style="background-color: @StatusHelper.GetStatusColor(invoice.TicketStatus)">@invoice.TicketStatus</h6>*@


                                </tr>
                                <tr>
                                    <td>2345</td>
                                    <td>02/01/2023</td>
                                    <td>$200.00</td>
                                    <td style="background-color: @(StatusHelper.GetStatusColor("under review"))">Under Review</td>

                                </tr>
                                <tr>
                                    <td>4567</td>
                                    <td>03/01/2023</td>
                                    <td>$150.00</td>
                                    <td style="background-color: @(StatusHelper.GetStatusColor("rejected"))">Rejected</td>


                                </tr>
                                <tr>
                                    <td>5678</td>
                                    <td>04/01/2023</td>
                                    <td>$300.00</td>
                                    <td style="background-color: @(StatusHelper.GetStatusColor("approved")); ">Approved</td>
                                    @*<td><a href="#" class="btn-create">Create New</a></td>*@
                                </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>


            @*/END/*@

        </div>

        <partial name="_RightColumn" />
    </div>

    <script src="~/js/DateTime.js"></script>

</body>
</html>
