@model MedicalSuppliesWeb.ViewModels.Product.ProductVm

<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/shared-style.css" />

</head>
<body>
<div class="row">
        <partial name="_LeftColumn" />
    <div class="col-md-8 column">

            <partial name="_SearchBox" />

            @*DYNAMIC CONTENT BEGIN*@

        <h3>Product Details</h3>

        <div class="container" style="padding-top: 30px">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card p-4">
                        
                        <div class="d-flex justify-content-between align-items-center">
                            <h2 class="text-center mb-4 flex-grow-1">@Model.ProductName</h2>
                            <div class="form-group ml-2 mb-4">
                                @if (User.IsInRole("Admin"))
                                {
                                    <a href="/Product/Edit" class="btn btn-sm btn-outline-dark">Edit</a>
                                }
                                else
                                {
                                    <a href="/Home/AccessDenied" class="btn btn-sm btn-outline-dark">Edit</a>
                                }
                            </div>
                        </div>
                       
                        <div class="form-group mb-3">
                            <label for="productId">Product ID:</label>
                            <input type="text" id="productId" class="form-control" readonly value="@Model.ProductId" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="productName">Product Name:</label>
                            <input type="text" id="productName" class="form-control" readonly value="@Model.ProductName" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="description">Description:</label>
                            <textarea id="description" class="form-control" rows="3" readonly>@Model.Description</textarea>
                        </div>
                        <div class="form-group mb-3">
                            <label for="price">Price:</label>
                            <input type="text" id="price" class="form-control" readonly value="@($"${Model.Price}")" />

                        </div>
                        <div class="form-group mb-3">
                            <label for="manufacturerName">Manufacturer:</label>
                            <input type="text" id="manufacturerName" class="form-control" readonly value="@Model.ManufacturerName" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="categoryName">Category:</label>
                            <input type="text" id="categoryName" class="form-control" readonly value="@Model.CategoryName" />
                        </div>
                        <div class="form-group">
                            <label for="supplierName">Supplier:</label>
                            <input type="text" id="supplierName" class="form-control" readonly value="@Model.SupplierName" />
                        </div>

                       
                        <div class="form-group d-flex justify-content-center mt-3" >
                            @*<a asp-controller="Product" asp-action="Index" class="btn btn-sm btn-outline-dark">Back to Products</a>*@
                            <a href="/Product/Index" class="btn btn-sm btn-outline-dark">Back to Products</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            @*/END/*@


    </div>

        <partial name="_RightColumn" />
</div>


    <script src="~/js/DateTime.js"></script>
</body>
</html>
