@model List<MedicalSuppliesWeb.ViewModels.Product.ProductVm>


<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/shared-style.css" />

</head>
<body>
<div class="row">
        <partial name="_LeftColumn" />
    <div class="col-md-8 column">
            <partial name="_SearchBox" />

        @*DYNAMIC CONTENT BEGIN*@

        <div class="row" style="padding:30px">

                <div class="col-md-11">
                    <h3 style="text-align: center; padding-bottom: 20px">Products</h3>
                </div>
                <div class="col-md-1 text-right">                  

                    @if (User.IsInRole("Admin"))
                    {
                        <a href="/Product/Create" class="btn btn-sm btn-outline-dark">Create</a>
                    }
                    else
                    {
                        <a href="/Home/AccessDenied" class="btn btn-sm btn-outline-dark">Create</a>
                    }

                </div>

                <table class="table table-bordered border-primary table-hover text-center">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Manufacturer</th>
                        <th>Category</th>
                        <th>Supplier</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr class="product-row" data-product-id="@product.ProductId">
                            <td>@product.ProductId</td>
                            <td>@product.ProductName</td>
                            <td>@product.Description</td>
                            <td>@product.Price</td>
                            <td>@product.ManufacturerName</td>
                            <td>@product.CategoryName</td>
                            <td>@product.SupplierName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @*/END/*@

    </div>

        <partial name="_RightColumn" />
</div>

    <script src="~/js/DateTime.js"></script>

<script>
    // Adding click event listener to each row with the "product-row" class
    const productRows = document.querySelectorAll('.product-row');
    productRows.forEach(row => {
        row.addEventListener('click', () => {
            // Get the product ID from the data attribute of the clicked row
            const productId = row.dataset.productId;

            // Redirect to the individual product view with the selected product ID
            window.location.href = `/Product/Details/${productId}`;
        });
    });
</script>
</body>
</html>
