@model MedicalSuppliesWeb.ViewModels.Customer.CustomerProfileVm

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/css/shared-style.css" />
</head>



<body>

    <div class="row">
        <partial name="_LeftColumn" />

        <div class="col-md-8 column">

            <partial name="_SearchBox" />




            @*//following div (row) is the dynamic content of this page, it changes on each other page view redirected from here.
            everything else remain the same*@




            <h2 style="padding-left: 280px; padding-top: 80px; padding-bottom: 30px;">CREATE CUSTOMER</h2>

            <form method="post" asp-controller="Customer" asp-action="Create">

                <div class="card px-3 py-4">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center">Bio</h5>
                        <div class="row pb-5">
                            @*<div class="col-md-1">
                            <div class="form-group">
                            <label for="customerId">ID:</label>
                            <input type="text" class="form-control" id="customerId" name="CustomerId" />
                            </div>
                            </div>*@

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="customerFirstName">First Name:</label>
                                    <input type="text" class="form-control" id="customerFirstName" name="FirstName" value="@Model.FirstName" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="customerLastName">Last Name:</label>
                                    <input type="text" class="form-control" id="customerLastName" name="LastName" value="@Model.LastName" />
                                </div>
                            </div>

                            <div class="col-md-4">

                                <div class="form-group">
                                    <label for="dateOfBirth">DOB:</label>
                                    <input type="date" class="form-control datepicker" id="dateOfBirth" name="DOB" placeholder="Select date">

                                </div>

                            </div>
                        </div>

                        <div class="row pb-5">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    @*<select class="form-control" id="gender" name="Gender">

                                    <option value="">Select</option>
                                    <option value="Female" @(Model.Gender?.GenderName == "Female" ? "selected" : "")>Female</option>
                                    <option value="Male" @(Model.Gender?.GenderName == "Male" ? "selected" : "")>Male</option>
                                    <option value="Other" @(Model.Gender?.GenderName == "Other" ? "selected" : "")>Other</option>

                                    </select>*@

                                    <select class="form-control" id="gender" name="Gender.GenderId">
                                        <option value="">Select</option>
                                        <option value="1">Female</option>
                                        <option value="2">Male</option>
                                        <option value="3">Other</option>
                                    </select>

                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="height">Height:</label>

                                    <input type="text" class="form-control" id="height" name="Height" value="@Model.Height" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="weight">Weight:</label>
                                    <input type="number" class="form-control" id="weight" name="Weight" value="@Model.Weight" />
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="contact">Contact:</label>
                                    <input type="text" class="form-control" id="contact" name="Contact" value="@Model.CustomerNumbers" />
                                </div>
                            </div>



                        </div>
                    </div>
                </div>

                <div class="card px-3 py-4" style="margin-top: -2px;">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center">Address</h5>
                        <div id="address-container">
                            <!-- Initial address field -->
                            <div class="address">
                                <div class="row pb-5">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="address">Address:</label>
                                            <input type="text" class="form-control" id="address" name="CustomerAddresses[0].Address" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="city">City:</label>
                                            <input type="text" class="form-control" id="city" name="CustomerAddresses[0].City" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="state">State:</label>
                                            <input type="text" class="form-control" id="state" name="CustomerAddresses[0].State" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="zip">Zip:</label>
                                            <input type="text" class="form-control" id="zip" name="CustomerAddresses[0].Zip" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; justify-content: flex-end;">
                            <button type="button" id="add-address" class="btn btn-outline-dark btn-sm">+</button>
                        </div>
                    </div>
                </div>

                <div class="card px-3 py-4" style="margin-top: -2px;">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center">Insurance</h5>

                        <div id="insurance-container">

                            <!-- Row 1 -->
                            <div class="row pb-5">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="insuranceType">Type:</label>
                                        <input type="text" class="form-control" id="insuranceType" name="InsuranceDetails.InsuranceType" value="@Model.InsuranceDetails.InsuranceType" />

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="policyNo">Policy No:</label>
                                        <input type="text" class="form-control" id="policyNo" name="InsuranceDetails.PolicyNo" value="@Model.InsuranceDetails.PolicyNo" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="groupId">GroupId:</label>
                                        <input type="text" class="form-control" id="groupId" name="InsuranceDetails.GroupId" value="@Model.InsuranceDetails.GroupId" />
                                    </div>
                                </div>
                            </div>

                            <!-- Row 2 -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="dateEffective">Date Effective:</label>
                                        <input type="date" class="form-control datepicker" id="dateEffective" name="InsuranceDetails.DateEffective" placeholder="Select date" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="dateExpire">Date Expire:</label>
                                        <input type="date" class="form-control datepicker" id="dateExpire" name="InsuranceDetails.DateExpire" placeholder="Select date" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="insuranceSelection">Insurance</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="InsuranceDetails.PrimaryInsurance" id="primaryInsurance" value="primary" />
                                            <label class="form-check-label" for="primaryInsurance">
                                                Primary
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="InsuranceDetails.SecondaryInsurance" id="secondaryInsurance" value="secondary" />
                                            <label class="form-check-label" for="secondaryInsurance">
                                                Secondary
                                            </label>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                        <div style="display: flex; justify-content: flex-end;">
                            <button type="button" id="add-insurance" class="btn btn-outline-dark btn-sm">+</button>
                        </div>


                    </div>
                </div>


                <div class="card" style=" margin-top: -2px;">
                    <div class="card-body" style="display: flex; justify-content: center; padding: 10px;">
                        <button type="submit" class="btn btn-outline-dark">Create</button>
                    </div>
                </div>
            </form>


            @*/END/*@

        </div>




        <partial name="_RightColumn" />
    </div>


    <script src="~/js/DateTime.js"></script>


    <script>
        var shippingAddressTextarea = document.getElementById("shippingAddress");
        var billingAddressTextarea = document.getElementById("billingAddress");
        var sameAddressCheckbox = document.getElementById("sameAddressCheckbox");

        sameAddressCheckbox.addEventListener("change", function () {
            if (this.checked) {
                billingAddressTextarea.value = shippingAddressTextarea.value;
                billingAddressTextarea.disabled = true;
                billingAddressTextarea.classList.add("text-muted");
            } else {
                billingAddressTextarea.value = "";
                billingAddressTextarea.disabled = false;
                billingAddressTextarea.classList.remove("text-muted");
            }
        });
    </script>

    <script>
        var addressContainer = document.getElementById("address-container");
        var addAddressButton = document.getElementById("add-address");
        var addressIndex = 1;

        addAddressButton.addEventListener("click", function () {
            var newAddressField = document.createElement("div");
            newAddressField.classList.add("address");

            newAddressField.innerHTML = `
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="address">Address:</label>
                                    <input type="text" class="form-control" name="CustomerAddresses[${addressIndex}].Address" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="city">City:</label>
                                    <input type="text" class="form-control" name="CustomerAddresses[${addressIndex}].City" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="state">State:</label>
                                    <input type="text" class="form-control" name="CustomerAddresses[${addressIndex}].State" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="zip">Zip:</label>
                                    <input type="text" class="form-control" name="CustomerAddresses[${addressIndex}].Zip" />
                                </div>
                            </div>
                        </div>`;

            addressContainer.appendChild(newAddressField);
            addressIndex++;
        });
    </script>



    <script>
        // Get the current date
        var currentDate = new Date();

        // Format the date as yyyy-mm-dd
        var year = currentDate.getFullYear();
        var month = String(currentDate.getMonth() + 1).padStart(2, '0');
        var day = String(currentDate.getDate()).padStart(2, '0');
        var formattedDate = year + '-' + month + '-' + day;

        // Set the default value of the orderDate input field
        document.getElementById('invoiceDate').value = formattedDate;
    </script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap Datepicker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>





    <script>
        var insuranceContainer = document.getElementById("insurance-container");
        var addInsuranceButton = document.getElementById("add-insurance");
        var insuranceIndex = 1;

        addInsuranceButton.addEventListener("click", function () {
            var newInsuranceField = document.createElement("div");
            newInsuranceField.classList.add("insurance");

            newInsuranceField.innerHTML = `
                        <!-- Row 1 -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="insuranceType">Type:</label>
                                    <input type="text" class="form-control" name="Insurances[${insuranceIndex}].Type" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="policyNo">Policy No:</label>
                                    <input type="text" class="form-control" name="Insurances[${insuranceIndex}].PolicyNo" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="groupId">GroupId:</label>
                                    <input type="text" class="form-control" name="Insurances[${insuranceIndex}].GroupId" />
                                </div>
                            </div>
                        </div>

                        <!-- Row 2 -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dateEffective">Date Effective:</label>
                                    <input type="text" class="form-control datepicker" name="Insurances[${insuranceIndex}].DateEffective" placeholder="Select date" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dateExpire">Date Expire:</label>
                                    <input type="text" class="form-control datepicker" name="Insurances[${insuranceIndex}].DateExpire" placeholder="Select date" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="insuranceSelection">Insurance</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="Insurances[${insuranceIndex}].Selection" id="primaryInsurance_${insuranceIndex}" value="primary" />
                                        <label class="form-check-label" for="primaryInsurance_${insuranceIndex}">
                                            Primary
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="Insurances[${insuranceIndex}].Selection" id="secondaryInsurance_${insuranceIndex}" value="secondary" />
                                        <label class="form-check-label" for="secondaryInsurance_${insuranceIndex}">
                                            Secondary
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>`;

            insuranceContainer.appendChild(newInsuranceField);
            insuranceIndex++;
        });
    </script>

</body>
</html>

