@model MedicalSuppliesWeb.ViewModels.Customer.CustomerOrderVm


<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/shared-style.css" />

</head>


<body>
    <div class="row">
        <partial name="_LeftColumn" />
        <div class="col-md-8 column">

            <partial name="_SearchBox" />




            @*//following div (row) is the dynamic content of this page, it changes on each other page view redirected from here.
            everything else remain the same*@




            <h2 style="padding-left:280px; padding-top:80px; padding-bottom:30px">CUSTOMER ORDER</h2>

            <form method="post" asp-action="CreateOrder">


                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="customerId">Customer ID:</label>
                                    <input type="text" class="form-control" id="customerId" name="CustomerId" value="" oninput="getCustomerDetails(this.value)" />
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="customerName">Customer Name:</label>
                                    <input type="text" class="form-control" id="customerName" name="CustomerName" value="@Model.CustomerName" readonly />
                                </div>
                            </div>



                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="orderDate">Order Date:</label>
                                    <input type="text" class="form-control" id="orderDate" name="Date" value="@Model.Date.ToShortDateString()" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="shippingAddress">Shipping Address:</label>
                                    <textarea class="form-control" id="shippingAddress" name="ShippingAddress" rows="3">@Model.ShippingAddress</textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="billingAddress">Billing Address:</label>
                                    <textarea class="form-control" id="billingAddress" name="BillingAddress" rows="3">@Model.BillingAddress</textarea>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="sameAddressCheckbox">
                                    <label class="form-check-label" for="sameAddressCheckbox">Same as Shipping Address</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>







                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Items</h5>
                        <div id="product-container">
                            <!-- Initial product field -->
                            <div class="order-item">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="productName">Product:</label>
                                            <input type="text" class="form-control product-name" name="CustomerOrderItems[0].ProductName" oninput="getProductUnitPrice(this.value,0)" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="quantity">Quantity:</label>
                                            <input type="text" class="form-control quantity" name="CustomerOrderItems[0].Quantity" oninput="updateLineTotal(0)" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="unitPrice">Unit Price:</label>
                                            <input type="text" class="form-control unit-price" name="CustomerOrderItems[0].UnitPrice" oninput="updateLineTotal(0)" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="lineTotal">Line total:</label>
                                            <input type="text" class="form-control line-total" name="CustomerOrderItems[0].LineTotal" />
                                        </div>
                                    </div>

                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="deleteProductField(${productIndex})">Delete</button>
                                        </div>
                                    </div>





                                </div>
                            </div>
                        </div>
                        <div style="display: flex; justify-content: flex-end;">
                            <button type="button" id="add-product" class="btn btn-outline-dark btn-sm"> + </button>
                        </div>


                    </div>
                </div>












                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label for="orderTotal">Order Total:</label>
                                    <input type="text" class="form-control" id="orderTotal" name="OrderTotal" value="@Model.CustomerOrderTotal" />
                                </div>

                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="taxAmount">Tax Rate:</label>
                                    <input type="text" class="form-control" id="taxRate" name="TaxRate" value="7" readonly />
                                </div>
                            </div>

                            <div class="col-md-2">

                                <div class="form-group">
                                    <label for="taxAmount">Tax Amount:</label>
                                    <input type="text" class="form-control" id="taxAmount" name="TaxAmount" value=@Model.TaxAmount />
                                </div>
                            </div>

                            <div class="col-md-4">

                                <div class="form-group">
                                    <label for="grandTotal">Grand Total:</label>
                                    <input type="text" class="form-control" id="grandTotal" name="GrandTotal" value="@Model.GrandTotal" />
                                </div>
                            </div>


                        </div>




                        <div style="display: flex; justify-content: center; padding:10px">
                            <button type="submit" class="btn btn-outline-dark">Create</button>
                        </div>
                    </div>
                </div>


            </form>










            @*/END/*@





        </div>




        <partial name="_RightColumn" />
    </div>






    <script src="~/js/DateTime.js"></script>


    <script>
        var shippingAddressTextarea = document.getElementById("shippingAddress");
        var billingAddressTextarea = document.getElementById("billingAddress");
        var sameAddressCheckbox = document.getElementById("sameAddressCheckbox");

        sameAddressCheckbox.addEventListener("change", function () {
            if (this.checked) {
                billingAddressTextarea.value = shippingAddressTextarea.value;
                billingAddressTextarea.disabled = true;
                billingAddressTextarea.classList.add("text-muted");
            } else {
                billingAddressTextarea.value = "";
                billingAddressTextarea.disabled = false;
                billingAddressTextarea.classList.remove("text-muted");
            }
        });
    </script>

    <script>
        var productContainer = document.getElementById("product-container");
        var addProductButton = document.getElementById("add-product");
        var productIndex = 0;

        function addProductField() {
             // Increment the productIndex to get the correct index for the new item.

            var newProductField = document.createElement("div");
            newProductField.classList.add("order-item");
            productIndex++;
            newProductField.innerHTML = `
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="productName">Product Name:</label>
                                                <input type="text" class="form-control product-name" name="CustomerOrderItems[${productIndex}].ProductName" oninput="getProductUnitPrice(this.value, ${productIndex})"/>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="quantity">Quantity:</label>
                                                <input type="text" class="form-control quantity" name="CustomerOrderItems[${productIndex}].Quantity" oninput="updateLineTotal(${productIndex})" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="unitPrice">Unit Price:</label>
                                                <input type="text" class="form-control unit-price" name="CustomerOrderItems[${productIndex}].UnitPrice" oninput="updateLineTotal(${productIndex})" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="lineTotal">Line total:</label>
                                        <input type="text" class="form-control line-total" name="CustomerOrderItems[${productIndex}].LineTotal" />
                                    </div>
                                </div>

                                
                                 <div class="col-md-1">
                                       <div class="form-group">
                                           <label>&nbsp;</label>
                                           <button type="button" class="btn btn-outline-danger btn-sm" onclick="deleteProductField(${productIndex})">Delete</button>
                                        </div>
                                 </div>



                            </div>`;

            productContainer.appendChild(newProductField);
            getProductUnitPrice("", productIndex);
        }


        addProductButton.addEventListener("click", addProductField);


    </script>


    <script>
        // Get the current date
        var currentDate = new Date();

        // Format the date as yyyy-mm-dd
        var year = currentDate.getFullYear();
        var month = String(currentDate.getMonth() + 1).padStart(2, '0');
        var day = String(currentDate.getDate()).padStart(2, '0');
        var formattedDate = year + '-' + month + '-' + day;

        // Set the default value of the orderDate input field
        document.getElementById('orderDate').value = formattedDate;
    </script>



    <script>
        function getCustomerDetails(customerId) {

            fetch(`/Customer/GetCustomerDetails?customerId=${customerId}`)
                .then(response => response.json())
                .then(data => {
                    if (data) {

                        document.getElementById("customerName").value = data.firstName + " " + data.lastName;
                    } else {

                        document.getElementById("customerName").value = "";
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>


    <script>


        let fetchCounter = 0;
        function getProductUnitPrice(productName, index) {
            const currentFetchCounter = ++fetchCounter; // Increment fetchCounter for each fetch operation

            fetch(`/Product/GetProductUnitPrice?productName=${productName}`)
                .then(response => response.json())
                .then(data => {
                    if (data && currentFetchCounter === fetchCounter) {
                        const unitPriceInput = document.getElementsByName(`CustomerOrderItems[${index}].UnitPrice`)[0];
                        const lineTotalInput = document.getElementsByName(`CustomerOrderItems[${index}].LineTotal`)[0];

                        unitPriceInput.value = data.unitPrice;
                        updateLineTotal(index);
                    } else if (currentFetchCounter === fetchCounter) {
                        const unitPriceInput = document.getElementsByName(`CustomerOrderItems[${index}].UnitPrice`)[0];
                        unitPriceInput.value = "";
                        updateLineTotal(index);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }


        function updateLineTotal(index) {
            const quantity = parseFloat(document.getElementsByName(`CustomerOrderItems[${index}].Quantity`)[0].value);
            const unitPrice = parseFloat(document.getElementsByName(`CustomerOrderItems[${index}].UnitPrice`)[0].value);


            const lineTotal = isNaN(quantity) || isNaN(unitPrice) ? 0 : quantity * unitPrice;

            document.getElementsByName(`CustomerOrderItems[${index}].LineTotal`)[0].value = lineTotal.toFixed(2);
            updateOrderTotal();
        }


        function updateOrderTotal() {
            let orderTotal = 0;
            const lineTotalInputs = document.querySelectorAll(".line-total");
            lineTotalInputs.forEach(input => {
                orderTotal += parseFloat(input.value);
            });
            const taxRate = parseFloat(document.getElementById("taxRate").value);

            // Calculate the tax amount (order total * tax rate)
            const taxAmount = orderTotal * (taxRate / 100);

            // Calculate the grand total (order total + tax amount)
            const grandTotal = orderTotal + taxAmount;

            // Update the values in the HTML input fields
            document.getElementById("orderTotal").value = orderTotal.toFixed(2);
            document.getElementById("taxAmount").value = taxAmount.toFixed(2);
            document.getElementById("grandTotal").value = grandTotal.toFixed(2);
        }


        function deleteProductField(index) {
            var productField = document.querySelector(`[name="CustomerOrderItems[${index}].ProductName"]`).closest(".order-item");
            productField.remove();

            // Update the productIndex for the remaining product fields
            var remainingProductFields = document.querySelectorAll(".order-item");
            remainingProductFields.forEach((field, newIndex) => {
                var productNameInput = field.querySelector(".product-name");
                var quantityInput = field.querySelector(".quantity");
                var unitPriceInput = field.querySelector(".unit-price");
                var lineTotalInput = field.querySelector(".line-total");

                productNameInput.name = `CustomerOrderItems[${newIndex}].ProductName`;
                quantityInput.name = `CustomerOrderItems[${newIndex}].Quantity`;
                unitPriceInput.name = `CustomerOrderItems[${newIndex}].UnitPrice`;
                lineTotalInput.name = `CustomerOrderItems[${newIndex}].LineTotal`;

                var deleteButton = field.querySelector(".btn-outline-danger");
                deleteButton.setAttribute("onclick", `deleteProductField(${newIndex})`);
            });

            updateOrderTotal();
        }


    </script>











</body>
</html>
