@model List<MedicalSuppliesWeb.ViewModels.Customer.CustomerProfileVm>


<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/shared-style.css" />

</head>

    <div class="row">
        <partial name="_LeftColumn" />
        <div class="col-md-8 column">

            <partial name="_SearchBox" />


            @*//following div (row) is the dynamic content of this page, it changes on each other page view redirected from here.
            everything else remain the same*@


            <div style="display: flex; justify-content: space-between; align-items: center; padding: 30px; padding-right: 30px;">
                <h3 style="text-align: center; margin: 0; flex-grow: 1; text-decoration: underline;">Customers</h3>
                <a href="/Customer/Create" class="btn btn-sm btn-outline-dark" ">New</a>
            </div>


            <div class="card-columns" style="padding: 30px;">
                @foreach (var customer in Model)
                {
                    <div class="card mb-3">
                        <div class="card-header">
                            ID: @customer.CustomerId

                            <a href="/Customer/Edit/@customer.CustomerId" class="btn btn-sm btn-outline-dark" style="float: right;">Edit</a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">@customer.FirstName @customer.LastName</h4>
                            <p class="card-text"><strong>DOB:</strong> @customer.DOB.ToShortDateString()</p>
                            <p class="card-text"><strong>Gender:</strong> @customer.Gender.GenderName</p>
                            <strong>Address:</strong>
                            <ul class="card-text" style="list-style-type: none; padding: 0;">
                                @foreach (var address in customer.CustomerAddresses)
                                {
                                    <li>@address.Address, @address.City, @address.State.State @address.Zip</li>
                                }
                            </ul>
                            <strong>Contact:</strong>
                            <ul class="card-text" style="list-style-type: none; padding: 0;">
                                @foreach (var number in customer.CustomerNumbers)
                                {
                                    <li>@number.PhoneNumber</li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>

           @*/END/*@

        </div>

                @Html.Partial("_RightColumn")

    </div>

    <script>
    function updateTime() {
    var currentDate = new Date();
    var date = currentDate.toDateString();
    var time = currentDate.toLocaleTimeString();
    var dateElement = document.querySelector('.date');
    var timeElement = document.querySelector('.time');
    dateElement.textContent = date;
    timeElement.textContent = time;
    }

    // Update the time every second
    setInterval(updateTime, 1000);

    // Initial update
    updateTime();
    </script>



</html>
