@model List<MedicalSuppliesWeb.ViewModels.Inventory.InventoryVm>


<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/shared-style.css" />

</head>
<body>
    <div class="row">
        <partial name="_LeftColumn" />
        <div class="col-md-8 column">
            <partial name="_SearchBox" />


            @*DYNAMIC CONTENT BEGIN*@


            <div id="pdfContent" style="padding:30px">


                <h3 style="text-align:center; padding:20px; text-decoration: underline;">Inventory</h3>

                <table class="table table-bordered border-primary text-center">
                    <thead>
                        <tr>
                            <th>Inv ID</th>
                            <th>Product</th>
                            <th>Qty</th>
                            <th>Supplier</th>
                            <th>Reorder Level</th>
                            <th>Last Update</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.InventoryId</td>
                                <td>@item.ProductName</td>
                                <td>@item.QuantityInStock</td>
                                <td>@item.SupplierName</td>
                                <td>@item.ReorderLevel</td>
                                <td>@item.LastStockUpdate.ToString("MM-dd-yyyyy")</td>
                                <td>@item.LocationName</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div>
                <button id="generatePdf">Generate PDF</button>
            </div>

            @*/END/*@

        </div>

        <partial name="_RightColumn" />
    </div>

    <script src="~/js/DateTime.js"></script>
    <script src="~/js/GeneratePdf.js"></script>

</body>
</html>
